body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-padding-top: 50px;
}

.login-page {
  background: url('../src/assets/login-bg.png');
  background-size: cover;
  width: 100%;
  height: 100%; 
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
}

.home-page {
  background: url('../src/assets/login-bg.png'); 
  background-size: cover;
  width: 100%;
  height: 100%; 
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
}

.products-page {
  background-size: cover;
  width: 100%;
  height: 100%; 
  position: absolute;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat; 
  overflow-x: hidden;
}

.product-detail-page {
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100%; 
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;  
}
