$main-font: 'Poppins';
$second-font: 'Port Lligat Slab';
$orange: #F68A1E;
$white: white;
$dirty-white: #f2f2f2;
$grey: #D9D9D9;
$black: black;
$border-rad5: 5px;
$border-rad10: 10px;

body, html {
    height: 100%;
    display: block;
    margin: 0;
}

// .parallax {
//     background-image: url(../src/assets/bg.png);
//     height: 100%; 
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// .parallax {
//     background-color: green;
// }

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.content {
    color: $dirty-white;
    height: 1080px;
}

.prod_title {
    position: absolute;
    width: 655px;
    height: 136px;
    left: 633px;
    top: 300px;
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    font-size: 126.727px;
    line-height: 136px;
    color: $white;
    text-shadow: 0px 4px 50px $black;
}
.prod_subtitle {
    position: absolute;
    width: 826px;
    height: 136px;
    left: 548px;
    top: 500px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: $white;
}

#menu {
    font-family: $main-font;
    color: $black;
    position: absolute;
    left: 118px;
    top: 1112px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
}


