$main-font: 'Poppins';
$second-font: 'Port Lligat Slab';



#header {
  background: url('../src/assets/login-bg.png');
  width: auto;
  height: 20rem;
 
  margin: 0 auto;
  padding-top: 150px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat; 
  background-size:cover;
}

#header-title {
  text-align: center; 
  padding-top: 250px;
  font-size: 150px;

    margin: auto;
   
}

#sub-info {
 color: white;
  width: 500px;
  height: 50px;
  font-family: 'Poppins';
  font-size: 20px;
  margin: auto;
  text-align: center;
}

#title {
  color: white;
  margin-left: 150px;
  margin-top: 100px;
  font-size: 38px;
  font-family: "Poppins";
  
}

#products {
  width: 100%;
  height: 500px;
  display: float;
  padding-left: 100px;
  padding-top: 50px;
  
}

#content {
  font-family: "Port Lligat Slab";
  // background-color: red;
  width: 400px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
  color: white;

 
  
}
#cards {
  padding-top: 50px;
  width: 250px;
  height: 220px;
  background-color: #f0f0f0;
 margin-top: 30px;
 margin-left: 50px;
 margin-bottom: 50px;
  float: left;
  border-radius: 15px;
}

#img-container {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 100px;
  margin: 0 auto;
  
  
}

#product-name {
  width: 100%;
  height: 50px;
 
}


#product1{
  
  background: url("../src/assets/products/BakedCroissantBread.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px; 
  margin: 0 auto;
}

#product2{
  background: url("../src/assets/products/ChocolateLoaf.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}
#product3{
  background: url("../src/assets/products/ClassicLoaf.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}
#product4{
  background: url("../src/assets/products/PrawnBun.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}
#product5{
  background: url("../src/assets/products/BriocheFlowerBread.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}
#product6{
  background: url("../src/assets/products/PanePugliese.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}

#product7{
  background: url("../src/assets/products/ClassicSlicedBread.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}

#product8{
  background: url("../src/assets/products/PanePugliese.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}

#product9{
  background: url("../src/assets/products/Pagnottadeldittaino.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}

#product6{
  background: url("../src/assets/products/PanePugliese.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}

#product6{
  background: url("../src/assets/products/PanePugliese.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 120px;
  margin: 0 auto;
}

#product6{
  background: url("../src/assets/products/PanePugliese.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 100px;
  margin: 0 auto;
}

#prod-info {
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
  
  margin-bottom: 0px;
}

#price {
  font-family: "Poppins";
  text-align: center;
 
  margin-top: 0px;
}